<div class="container progress-content">
<div class="progressbar">
<div class="col-md-6 col-md-offset-6">
  <div class="progress progress-grediant">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="15"
    aria-valuemin="0" aria-valuemax="100" style="width:15%">
      <span class="stick-me">15%</span>
    </div>
  </div>
</div>
</div>
  <div class="clearfix"></div>
  <div class="progress-content-one">
      <div class="col-md-6">
        <div class="progress-img-wrap">
          <div class="p-user-profile">CONGRATULATIONS</div>
          <div style="background-image: url('themes/addiction/images/png/illustrations-Congratulations.png');" class="progress-img">
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="para-userprofile">
            <p>You are now a member of the Addiction network. Please enter details of our Treatment center for it to be displayed on our website. If you choose to do it at a later stage, you can add them from your profile page.</p>
            <p class="lead">Please remember that your details will not be displayed on our website unless and until you add at least one treatment center</p>

      </div>
    </div>
    <p class="stick-next-left"><a href="javascript:void(0)" ng-click="$ctrl.testCenter()">Add Test center</a></p>
    <p class="stick-next-right"><a href="javascript:void(0)" ng-click="$ctrl.viewProfile()">View my profile</a></p>
  </div>
</div>
