<div class="row mb-30">
  <p class="mb-30">Step1: Click on the map to select state, county and city or {{$ctrl.checkAllText[$root.activeCenter]}}
    <input type="checkbox" name="" ng-model="$root.checkedAllStates[$root.activeCenter]" ng-change="$ctrl.selectStateAll()" ng-click="$ctrl.checkboxCheck()" />
  </p>

  <div class="col-lg-2 col-md-2 col-sm-6 leftlist" ng-init="$ctrl.stateCurrentSelection=''">
    <div class="row">
      <ul class="countrylist">
        <li ng-repeat="state in $root.stateIds | orderBy:'state' | limitTo:26">
          <!-- <span style="background-color:#c3e09f;cursor:pointer;{{$ctrl.curSelStyle[state.name]}}" ng-click="$ctrl.stateCheckboxClick(state,true);" ng-if="$ctrl.stateSelectCheck[state.name]"> {{state.state}}</span> -->
          <!-- <a href="javascript:;" ng-click="$ctrl.stateCheckboxClick(state,true);" ng-if="$ctrl.stateCurrentSelection===state.name"> {{state.state}} active</a> -->
          <!-- <a href="javascript:;" ng-click="$ctrl.stateCheckboxClick(state,true);" ng-if="$ctrl.stateSelectCheck[state.name]!==true && $ctrl.stateCurrentSelection!==state.name"> {{state.state}} not selec</a> -->
          <!-- <a href="javascript:;" ng-click="$ctrl.stateCheckboxClick(state,true);" style="background:green;" ng-if="$ctrl.stateSelectCheck[state.name]"> {{state.state}}</a> -->
          <a href="javascript:;" ng-click="$ctrl.stateCheckboxClick(state,true);" style="{{$ctrl.prevSelStyle[state.name]}} {{$ctrl.curSelStyle[state.name]}}"> {{state.state}}</a>
          <input type="checkbox" ng-show="$ctrl.stateCurrentSelection===state.name || $ctrl.stateSelectCheck[state.name]===true" ng-model="$ctrl.stateSelectCheck[state.name]" ng-click="$ctrl.stateCheckboxClick(state,false);">
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 usmap-ct">
    <div id="mapwrapper">
      <div id="map_base">
        <state-map on-select="$ctrl.onStateSelect(state)" selected-states="$ctrl.stateSelectCheck" class="ng-isolate-scope"></state-map>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6 rightlist pl-60">
    <div class="custom-row">
      <ul class="countrylist">
        <li ng-repeat="state in $root.stateIds | orderBy:'state' | limitTo:60" ng-if="$index>=26">
          <input style="visibility:hidden;" type="checkbox" ng-model="$ctrl.stateSelectCheck[state.name]">
          <a href="javascript:;" ng-click="$ctrl.stateCheckboxClick(state,true);" style="{{$ctrl.prevSelStyle[state.name]}} {{$ctrl.curSelStyle[state.name]}}"> {{state.state}}</a>
          <input type="checkbox" ng-show="$ctrl.stateCurrentSelection===state.name || $ctrl.stateSelectCheck[state.name]===true" ng-model="$ctrl.stateSelectCheck[state.name]" ng-click="$ctrl.stateCheckboxClick(state,false);">
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row city-details mt-30 mb-30" ng-show="$ctrl.stateCurrentSelection!==''">
  <p>Selct the cities and counties in the  {{$ctrl.stateCurrentSelectionName}}</p>
  <div class="city-map-container">
    <div class="custom-row">
      <img src="themes/addiction/images/{{$ctrl.stateImage}}.png" style="width:100%;opacity:0.8">
    </div>
  </div>
  <div class="city-country">
    <div class="custom-row">
      <div class="city-box">
        <form>
          <div class="form-group has-feedback">
            <label class="control-label" for="inputValidation">Select City </label>

            <input name="city" list="cities" class="form-control" ng-model="$ctrl.citySearchCustom" ng-click="$ctrl.showCityCountyDropdown('city');" placeholder="Cities" />
            <!-- <datalist id="cities">
              <option value="Naples">Naples</option>
              <option value="London">London</option>
              <option value="Berlin">Berlin</option>
              <option value="New York">New York</option>

            </datalist> -->
            <!-- <div ng-dropdown-multiselect="" class="three_columns1" ng-show="$ctrl.displayCitySelect===1" ng-click="$ctrl.checkFirst(); " id="selectCities" options="$root.city" checkboxes="true" selected-model="$root.cityModel[$root.activeCenter]" extra-settings="$ctrl.multiselectModelSettingsCity" translation-texts="$root.cityText" events="{ onSelectAll: onSelectAllCity, onItemSelect: $ctrl.citySelectFun, onItemDeselect: $ctrl.deSelectCityFun }"></div> -->
            <a href="#" class="glyphicon glyphicon-search form-control-feedback"></a>
          </div>
        </form>
      </div>
      <div class="country-box">
        <form>

          <!-- <div class="form-group has-feedback">
            <label class="control-label" for="inputValidation">Select Countries </label>
            <input name="country" list="countries" class="form-control" placeholder="Search" />
            <datalist id="countries">
              <option value="Naples">Naples</option>
              <option value="London">London</option>
              <option value="Berlin">Berlin</option>
              <option value="New York">New York</option>

            </datalist>
            <a href="#" class="glyphicon glyphicon-search form-control-feedback"></a>
          </div> -->
          <div class="form-group has-feedback">
            <label class="control-label" for="inputValidation">Select Counties </label>
            <input name="country" class="form-control" placeholder="Counties" ng-click="$ctrl.showCityCountyDropdown('county');" />
            <!-- <div ng-dropdown-multiselect="" ng-show="$ctrl.displayCountySelect===1" ng-click="$ctrl.checkFirst(); " id="selectCounties" options="$root.county" checkboxes="true" selected-model="$root.countyModel[$root.activeCenter]" extra-settings="$ctrl.multiselectModelSettingsCounty" translation-texts="$root.countyText" events="{  onSelectAll: onSelectAllCounty, onItemSelect: $ctrl.countySelectFun, onItemDeselect: $ctrl.deSelectCountyFun}"></div> -->

            <a href="#" class="glyphicon glyphicon-search form-control-feedback"></a>
          </div>
        </form>
      </div>
    </div>
    <div class="select-statesbox" ng-show="$ctrl.displayCitySelect===1 || $ctrl.displayCountySelect===1">

      <!-- <multiple-autocomplete object-property="label" suggestions-arr="$root.city" ng-model="$root.cityModel[$root.activeCenter]" after-select-item="$ctrl.citySelectFun" after-remove-item="$ctrl.deSelectCityFun"  ng-show="$ctrl.displayCitySelect===1" ng-click="$ctrl.checkFirst(); " id="selectCities" ></multiple-autocomplete> -->
      <!-- <multiple-autocomplete object-property="label" suggestions-arr="$root.county" ng-model="$root.countyModel[$root.activeCenter]" after-select-item="$ctrl.countySelectFun" after-remove-item="$ctrl.deSelectCountyFun"  ng-show="$ctrl.displayCountySelect===1" ng-click="$ctrl.checkFirst(); " id="selectCounties" ></multiple-autocomplete> -->
      <div ng-dropdown-multiselect="" class="three_columns" ng-show="$ctrl.displayCitySelect===1" ng-click="$ctrl.checkFirst(); " id="selectCities" options="$root.city" checkboxes="true" selected-model="$root.cityModel[$root.activeCenter]" search-filter="$ctrl.citySearchCustom" extra-settings="$ctrl.multiselectModelSettingsCity" translation-texts="$root.cityText" events="{ onSelectAll: onSelectAllCity, onItemSelect: $ctrl.citySelectFun, onItemDeselect: $ctrl.deSelectCityFun }"></div>
      <div ng-dropdown-multiselect="" ng-show="$ctrl.displayCountySelect===1" ng-click="$ctrl.checkFirst(); " id="selectCounties" options="$root.county" checkboxes="true" selected-model="$root.countyModel[$root.activeCenter]" extra-settings="$ctrl.multiselectModelSettingsCounty" translation-texts="$root.countyText" events="{  onSelectAll: onSelectAllCounty, onItemSelect: $ctrl.countySelectFun, onItemDeselect: $ctrl.deSelectCountyFun}"></div>
      <span style="cursor:pointer; float:right; position:absolute;top:21%;left:100%;" ng-click="$ctrl.closeCityCounty()"><i class="fa fa-close"></i></span>
    </div>
    <!-- <div class="col-md-12">
      <div class="select-statesbox1 col-md-5" style="float: left;margin: 15px 0 0 17px;border: 1px solid #eeeeee;padding: 10px;" ng-show="$ctrl.displayCitySelect===1|| $ctrl.displayCountySelect===1">
        <div class="col-md-12" ng-repeat="city in $root.cityModel[$root.activeCenter]">
          <span ng-repeat="c in $root.city" ng-if="c.id===city.id">{{c.label}}</span>
        </div>

      </div> -->
    <div class="select-statesbox1 col-md-5" style="float: left;margin: 15px 0 0 17px;border: 1px solid #eeeeee;padding: 10px;">
      <div class="col-md-12" ng-repeat="city in $root.cityModel[$root.activeCenter]">
        <span ng-repeat="c in $root.city" ng-if="c.id===city.id">{{c.label}}</span>
      </div>

    </div>

    <div class="select-statesbox1 col-md-5" style="float: left;margin: 15px 0 0 81px;border: 1px solid #eeeeee;padding: 10px;">
      <div class="col-md-12" ng-repeat="county in $root.countyModel[$root.activeCenter]">
        <span ng-repeat="co in $root.county track by $index" ng-if="co.id===county.id">{{co.label}}</span>
      </div>
    </div>

    <!-- <div class="select-statesbox1 col-md-5" style="float: left;margin: 15px 0 0 81px;border: 1px solid #eeeeee;padding: 10px;" ng-show="$root.countyModel[$root.activeCenter].length>0)">
        <div class="col-md-12" ng-repeat="county in $root.countyModel[$root.activeCenter]">
          <span ng-repeat="co in $root.county track by $index" ng-if="co.id===county.id">{{co.label}}</span>
        </div>
      </div> -->

  </div>

</div>
<!--end of city country -->
<div class="row">
  <p>Step2: Select various categories for your treatment</p>
  <div class="col-lg-4 col-md-4 col-sm-12 mb-20">
    <div class="row">
      <h2><a href="#">Treatment approach</a></h2>
      <ul class="generallist {{$ctrl.scrollClass[$root.activeCenter]['treatmentApproach']}}">
        <li ng-repeat="treatmentApproach in $root.treatmentApproach | orderBy:'label' ">
          <a href="javascript:;" ng-if="$ctrl.categoriesActiveIds[$root.activeCenter][treatmentApproach.id]===true" style="color:#015b8e;" ng-click="$ctrl.updateCategoriesModel(treatmentApproach, 'treatmentApproach');">{{treatmentApproach.label}}</a>
          <a href="javascript:;" ng-if="$ctrl.categoriesActiveIds[$root.activeCenter][treatmentApproach.id]!==true" style="color:#8bc442;" ng-click="$ctrl.updateCategoriesModel(treatmentApproach, 'treatmentApproach');">{{treatmentApproach.label}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12  mb-20">
    <div class="row">
      <h2><a href="#">Payment</a></h2>
      <ul class="generallist {{$ctrl.scrollClass[$root.activeCenter]['payment']}}">
        <li ng-repeat="payment in $root.payment | orderBy:'label' ">
          <a href="javascript:;" ng-if="$ctrl.categoriesActiveIds[$root.activeCenter][payment.id]===true" style="color:#015b8e;" ng-click="$ctrl.updateCategoriesModel(payment, 'payment');">{{payment.label}}</a>
          <a href="javascript:;" ng-if="$ctrl.categoriesActiveIds[$root.activeCenter][payment.id]!==true" style="color:#8bc442;" ng-click="$ctrl.updateCategoriesModel(payment, 'payment');">{{payment.label}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12  mb-20">
    <div class="row">
      <h2><a href="#">Setting</a></h2>
      <ul class="generallist {{$ctrl.scrollClass[$root.activeCenter]['setting']}}">
        <li ng-repeat="setting in $root.setting | orderBy:'label' ">
          <a href="javascript:;" ng-if="$ctrl.categoriesActiveIds[$root.activeCenter][setting.id]===true" style="color:#015b8e;" ng-click="$ctrl.updateCategoriesModel(setting, 'setting');">{{setting.label}}</a>
          <a href="javascript:;" ng-if="$ctrl.categoriesActiveIds[$root.activeCenter][setting.id]!==true" style="color:#8bc442;" ng-click="$ctrl.updateCategoriesModel(setting, 'setting');">{{setting.label}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="row">
      <h2><a href="#">By Drug</a></h2>
      <ul class="generallist {{$ctrl.scrollClass[$root.activeCenter]['byDrug']}}">
        <li ng-repeat="byDrug in $root.byDrug | orderBy:'label' ">
          <a href="javascript:;" ng-if="$ctrl.categoriesActiveIds[$root.activeCenter][byDrug.id]===true" style="color:#015b8e;" ng-click="$ctrl.updateCategoriesModel(byDrug, 'byDrug');">{{byDrug.label}}</a>
          <a href="javascript:;" ng-if="$ctrl.categoriesActiveIds[$root.activeCenter][byDrug.id]!==true" style="color:#8bc442;" ng-click="$ctrl.updateCategoriesModel(byDrug, 'byDrug');">{{byDrug.label}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="row">
      <h2><a href="#">Demographic</a></h2>
      <ul class="generallist {{$ctrl.scrollClass[$root.activeCenter]['demographic']}}">
        <li ng-repeat="demographic in $root.demographic | orderBy:'label' ">
          <a href="javascript:;" ng-if="$ctrl.categoriesActiveIds[$root.activeCenter][demographic.id]===true" style="color:#015b8e;" ng-click="$ctrl.updateCategoriesModel(demographic, 'demographic');">{{demographic.label}}</a>
          <a href="javascript:;" ng-if="$ctrl.categoriesActiveIds[$root.activeCenter][demographic.id]!==true" style="color:#8bc442;" ng-click="$ctrl.updateCategoriesModel(demographic, 'demographic');">{{demographic.label}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="row">
      <h2><a href="#">Additional Services</a></h2>
      <ul class="generallist {{$ctrl.scrollClass[$root.activeCenter]['additionalServices']}}">
        <li ng-repeat="additionalServices in $root.additionalServices | orderBy:'label' ">
          <a href="javascript:;" ng-if="$ctrl.categoriesActiveIds[$root.activeCenter][additionalServices.id]===true" style="color:#015b8e;" ng-click="$ctrl.updateCategoriesModel(additionalServices, 'additionalServices');">{{additionalServices.label}}</a>
          <a href="javascript:;" ng-if="$ctrl.categoriesActiveIds[$root.activeCenter][additionalServices.id]!==true" style="color:#8bc442;" ng-click="$ctrl.updateCategoriesModel(additionalServices, 'additionalServices');">{{additionalServices.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
