<div class="col-md-8 col-sm-8 col-xs-12 col-lg-9">
  <div class="heading_main_div">
    <h2>
      <label>Add Payment Details </label>
    </h2>

  </div>
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 padding_0 listing_wrapper_inner">

    <div class="row">

      <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 padding_0 listing_wrapper_inner">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 pull-right ">
          <!-- bg_add_treat -->
          <div class="col-md-12 col-xs-12 col-sm-12 padding_0">
            <a href="javascript:history.go(-1);">
              <span class="modal_btn btn btn-primary margin_bottom_15_add pull-right  text-right">
                <i class="glyphicon glyphicon-hand-left"></i> Back
              </span>
            </a>

          </div>
        </div>
        <div class="row">
          <form name="paymentDetailsForm">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding_0 main_wrap_form_inner_sub">
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <label for="name">Card Number: </label>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <input placeholder="Card Number" name="card" id="name" class="form-control" type="text" ng-model="$ctrl.card" ng-pattern="/^[0-9]+$/" ng-minlength="15" ng-maxlength="19">
                  <span ng-show="paymentDetailsForm.card.$invalid" class="help-block">Invalid Card number</span>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding_0 main_wrap_form_inner_sub">
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <label for="name">Expiry Year: </label>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <select ng-model="$ctrl.year" required="">
                    <option value="">Select Year</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                  </select>
                  <span class="help-block">{{$ctrl.yearError}}</span>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding_0 main_wrap_form_inner_sub">
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <label for="name">Expiry Month: </label>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <select ng-model="$ctrl.month" required="">
                    <option value="">Select Month</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                  <span class="help-block">{{$ctrl.monthError}}</span>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding_0 main_wrap_form_inner_sub">
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <label for="cpwd">CVV Code</label>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <input name="cvv" ng-model="$ctrl.cvv" class="form-control" type="text" placeholder="CVV Code" ng-pattern="/^[0-9]+$/" ng-minlength="3" ng-maxlength="3" required="" />
                  <span ng-show="paymentDetailsForm.cvv.$invalid" class="help-block">Invalid CVV Code</span>
                </div>
              </div>

              <div class="text-right col-md-12 col-sm-12 col-xs-12 col-lg-12 main_wrap_form_inner_sub sub">
                <input class="btn btn-primary modal_btn btn_size pull-right" value="Submit" id="submit" type="button" ng-click="$ctrl.submit()" ng-disabled="paymentDetailsForm.card.$invalid || paymentDetailsForm.cvv.$invalid">
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 main_wrap_form_inner_sub">
                <div class="company_adds">
                </div>
              </div>
            </div>
          </form>

        </div>

      </div>

    </div>

    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
      <div class="company_adds margin_top_25">
        <div class="company_adds">
          <img class="img-reponsive" id="footer_ad">
        </div>
      </div>
    </div>

  </div>
</div>
