<div class="add-payment-details mt-30" ng-init="$ctrl.cardSelect=''">
  <div class="profile-content">
    <div class="profile-row" style="padding: 0px;">
      <div class="col-md-6 col-sm-12" style="padding-right:0px;">
        <div class="progress-img-wrap">
          <div class="p-form-title3 title4">Payment</div>
          <div style="background-image: url('themes/addiction/images/png/illustrations-Woman-Explains.png');" class="progress-img"></div>
          <div class="p-tc-desc3 ng-binding" style="color:red;top: 56%;">{{$ctrl.displayMsg}}</div>
          <!-- <div class="p-tc-desc3 ng-binding" style="color:red;top: 56%;">You are just one step away from making a difference!!</div> -->
        </div>
      </div>
      <div class="col-md-6 col-sm-12" style="padding-right:0px;">
        <div class="psignup-form ml-051 payment-hgt1 add_payment">
          <form class="psignup-form n-form" name="$ctrl.paymentForm">
            <!-- <div class="payment-container">
            <div class="col-md-6">

            </div>
            <div class="col-md-6 ">
              <div class="tooltip-1 tooltip-2">
                <span class="tooltiptext">SAVE CARD DETAIL</span>
              </div>
              <div class="checkboxFive chk-left-mrgn form-group">
                <input type="checkbox" value="1" id="checkboxFiveInput" ng-model="$ctrl.saveDetails" checked />
                <label for="checkboxFiveInput" class="tooltiptext"></label>
              </div>
            </div>
          </div> -->

            <!-- previous cards -->
            <div class="existing-cards" ng-show="$ctrl.savedCards.payments.length>0">
              <div style="font-size:13px;font-weight:600;color:#428bca;">
                <span class="col-md-3">Default Card</span>
                <span class="col-md-4">Card Number</span>
                <span class="col-md-3">Card Type</span>
                <span class="col-md-2">Action</span>
              </div>
              <div class="payment-container" style="font-size: 10px; padding-top:10px;color:#83BF00;margin-top:20px;" ng-repeat="card in $ctrl.savedCards.payments" ng-init="$ctrl.savedCardCvv={}">
                <div class="col-md-3" style="padding-left: 20px;">
                  <input type="radio" ng-model="$ctrl.cardSelect" value="{{card.customer_payment_profile_id}}" ng-click="$ctrl.setDefaultPayment(card.customer_payment_profile_id)" />
                </div>
                <div class="col-md-4">
                  <span>*** **** *** {{card.card}}</span>
                </div>

                <div class="col-md-3" style="padding-left: 27px;">
                  <span>{{card.card_type}}</span>
                </div>
                <div class="col-md-2" style="text-align:center;">
                  <span style="cursor:pointer;" ng-click="$ctrl.open({id: card.customer_payment_profile_id })">
                    <i class="fa fa-trash-o fa-2 delicon text-left text-left"></i>
                  </span>
                </div>
              </div>
            </div>
            <!-- new cards -->
            <div class="existing-cards" style="padding-top:10px;" ng-show="$ctrl.cardSelect!=='newCard' && $ctrl.cardSelect!==''">
              <div style="font-size:10px;padding-left: 5px;">
                <div class="col-md-7">
                  <input type="radio" ng-model="$ctrl.cardSelect" value="newCard" /> New Card
                </div>

                <div class="col-md-3">
                </div>
                <div class="col-md-2">
                </div>
              </div>
            </div>


            <div ng-show="$ctrl.cardSelect==='newCard'" style="padding-left:20px;">
              <div class="form-group">
                <span style="font-size:12px; color:#83BF00;" class="abslt-plc" ng-if="$ctrl.cardName">Name as seen on card</span>
                <input type="text" class="form-control" id="cardName" name="cardName" placeholder="Name as seen on card" ng-model="$ctrl.cardName" required autocomplete="off">
              </div>
              <div class="form-group disp-ib">
                <span style="font-size:12px; color:#83BF00;" class="abslt-plc" ng-if="$ctrl.cardNumber">Card Number</span>
                <input placeholder="Card Number" style="float: left;" class="form-control" type="text" ng-keyup="$ctrl.detectCardType($ctrl.cardNumber, $event)" ng-change="" ng-maxlength="19" ng-model="$ctrl.cardNumber" ng-pattern="/^[0-9' ']+$/" required="" name="cardNumber" maxlength="19" autocomplete="off">
                <i style="font-size: 40px; margin-top: -10px; color: #58aa22; position: absolute; margin-left: -43px;" class="icon large icon-{{$ctrl.cardType}}-card"></i> </div>
              <div class="col-md-6" style="padding-left:0px;">
                <div class="form-group">
                  <span style="font-size:12px; color:#83BF00;" class="abslt-plc" ng-if="$ctrl.expiry || $ctrl.expiryPlaceholder">Expiry date(MM/YYYY)</span>
                  <input type="text" class="form-control" name="expiry" id="expiry" placeholder="Expiry date(MM/YYYY)" ng-model="$ctrl.expiry" ng-keyup="$ctrl.extraPlaceholder('expiry', $event)" ng-pattern="/^[\d]{2}\/[\d]{4}/*$/" required autocomplete="off">
                </div>
              </div>
              <div class="col-md-6" style="padding-right:0px;" ng-init="showPwd=true;">
                <div class="form-group">
                  <span style="font-size:12px; color:#83BF00;" class="abslt-plc" ng-if="$ctrl.cvv || $ctrl.cvvPlaceholder">Security Code</span>
                  <input type="{{showPwd ? 'text':'password'}}" ng-keyup="showPwd=false" name="cvv" class="form-control" id="cvv" placeholder="Security Code" ng-model="$ctrl.cvv" ng-keyup="$ctrl.extraPlaceholder('cvv')" ng-pattern="/^[0-9]*$/" ng-minlength="3" ng-maxlength="4" required="" maxlength="4" number="true" autocomplete="off">
                </div>
              </div>
              <div class="form-group">
                <span style="font-size:12px; color:#83BF00;" class="abslt-plc" ng-if="$ctrl.address">Address</span>
                <input type="text" name="address" ng-model="$ctrl.address" class="form-control" id="address" placeholder="Address" required autocomplete="off">
              </div>
              <div class="col-md-6" style="padding-left:0px;">
                <div class="form-group">
                  <span style="font-size:12px; color:#83BF00;" class="abslt-plc" ng-if="$ctrl.state">State</span>
                  <input type="text" name="state" ng-model="$ctrl.state" class="form-control" id="state" placeholder="State" required autocomplete="off">
                </div>
              </div>
              <div class="col-md-6" style="padding-right:0px;">
                <div class="form-group">
                  <span style="font-size:12px; color:#83BF00;" class="abslt-plc" ng-if="$ctrl.city">City</span>
                  <input type="text" name="city" class="form-control" id="city" placeholder="City" ng-model="$ctrl.city" required autocomplete="off">
                </div>
              </div>
              <div class="col-md-6" style="padding-left:0px;">
                <div class="form-group">
                  <span style="font-size:12px; color:#83BF00;" class="abslt-plc" ng-if="$ctrl.country">Country</span>
                  <input type="text" name="country" class="form-control" id="country" ng-model="$ctrl.country" placeholder="Country" required autocomplete="off">
                </div>
              </div>
              <div class="col-md-6" style="padding-right:0px;">
                <div class="form-group">
                  <span style="font-size:12px; color:#83BF00;" class="abslt-plc" ng-if="$ctrl.zip">Zip</span>
                  <input type="text" name="zip" class="form-control" id="zip" ng-model="$ctrl.zip" placeholder="Zip" required autocomplete="off" ng-pattern="/^[0-9]*$/">
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="custom-row">
          <div class="col-md-6 col-sm-12 " ng-if="$ctrl.paymentProcessing!==0 && $ctrl.cardSelect==='newCard'"><a href="javascript:;" ng-click="$ctrl.goToCart()" class="allbtn-bk">Back</a></div>
          <div class="col-md-6 col-sm-12 " ng-if="$ctrl.cardSelect!='newCard'" style="margin-top: 59%;"><a href="javascript:;" ng-click="$ctrl.goToCart()" class="allbtn-bk">Back</a></div>
          <div class="col-md-6 col-sm-12 rpad0 text-right" ng-if="$ctrl.paymentProcessing!==0 && $ctrl.cardSelect==='newCard'"> <a href="javascript:void(0)" ng-click="$ctrl.congrats()" class="allbtn-txt"> <i class="fa fa-credit-card"></i> Add Payment</a></div>
          <!-- <div class="col2 txt-rgtalign" ng-if="$ctrl.paymentProcessing===0">
          <img src="themes/addiction/images/png/green_loader.gif" width="30" /> </div> -->
        </div>

      </div>


    </div>
  </div>
</div>