<div class="my-treatment-details">
  <!--<section-heading>My Payment Details</section-heading>-->
  <div class="profile-content">
    <div class="profile-row">
      <a ui-sref="myProfile.paymentDetailsAdd">
        <span class="btn adn-btn right round-box"> <i class="glyphicon glyphicon-plus"></i> Add New Payment Details </span>
      </a>
    </div>
    <div class="profile-row" style="margin-bottom: 30%;">
      <div class="adn-table">
        <div id="no-more-tables">
          <table class="col-md-12 col-xs-12 col-sm-12  table-striped table-condensed cf padding_0">
            <thead class="cf">
              <tr>
                <!-- <th>Name</th> -->
                <th>Card Number</th>
                <th>Card Type</th>
                <th>Set as default</th>
                <th class="width_adjust_tb">Action</th>
              </tr>
            </thead>
            <tbody>    
              <tr ng-repeat="payment in $ctrl.payment.payments" ng-init="$ctrl.defaultCard[payment.customer_payment_profile_id]=payment.default;$ctrl.paymentDefault[payment.customer_payment_profile_id]='';">
                <!-- <td></td> -->
                <td data-title="Name">XXXX XXXX XXXX {{payment.card}} </td>
                <td data-title="Name" class="cardtype">{{payment.card_type}} </td>
                <td data-title="Set as default" class="cardtype">
                  <span ng-if="payment.default===true" ng-init="$ctrl.prevDefaultId=payment.customer_payment_profile_id;"></span>
                  <input type="checkbox" ng-hide="payment.default===true && $ctrl.paymentDefault[payment.customer_payment_profile_id]!==1" ng-model="$ctrl.defaultCard[payment.customer_payment_profile_id]" ng-click="$ctrl.setDefaultPayment(payment.customer_payment_profile_id)" />

                  <input type="checkbox" checked disabled="" ng-hide="payment.default===false || $ctrl.paymentDefault[payment.customer_payment_profile_id]===1" ng-model="$ctrl.defaultCard[payment.customer_payment_profile_id]" ng-click="$ctrl.setDefaultPayment(payment.customer_payment_profile_id)" />

                </td>
                <td data-title="Action">
                  <!-- <a href="/#/my-profile/payment-details/edit-payment/{{payment.customer_payment_profile_id}}" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="glyphicon glyphicon-edit"></i></a> -->

                  <div class="newbtns"> <a href="" title="Delete" ng-click="$ctrl.open({id: payment.customer_payment_profile_id })" data-toggle="tooltip" data-placement="bottom"> <i class="fa fa-trash-o fa-2 delicon"></i></a></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
