<div class="container progress-content">
<div class="progressbar">
<div class="col-md-6 col-md-offset-6">
  <span class="member-cart"><img src="themes/addiction/images/png/Cart-Icon.png" /></span>
  <div class="progress progress-grediant">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
    aria-valuemin="0" aria-valuemax="100" style="width:70%">
      <span class="stick-me">70%</span>
      <p class=""><img src="themes/addiction/images/png/Cart-Icon.png" /></p>
    </div>
  </div>
</div>
</div>
  <div class="clearfix"></div>
  <div class="progress-content-one">

      <div class="col-md-6">
        <div class="progress-img-wrap p-60">
          <div style="background-image: url('themes/addiction/images/png/illustrations-Ads.png');" class="progress-img">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="psignup-form">
          <form class="psignup-form">
            <p class="c-blue">Publish Ads</p>
            <div class="form-group clear-me">
              <label class="label-uo">Header:</label>
              <div class="pull-right">
                <div class="pull-left choose-file"><span>Upload <i class="fa fa-arrow-up"></i></span>
                <input type="file" class="file"></div>
              </div>
              <div class="ads-block">
                  <p>Cost:</p>
                  <p>Size:</p>
                  <p>Location:</p>
              </div>
            </div>
            <div class="form-group clear-me">
              <label class="label-uo">Side:</label>
              <div class="pull-right">
                <div class="pull-left choose-file"><span>Upload <i class="fa fa-arrow-up"></i></span>
                <input type="file" class="file"></div>
              </div>
              <div class="col-md-6 clear">
                <div class="ads-block w-full">
                  <p>Cost:</p>
                  <p>Size:</p>
                  <p>Location:</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ads-block pull-right">
                <p>Jpg, png, gif format upto 10 mb size</p>
              </div>
              </div>
            </div>
            <div class="form-group clear-me">
              <label class="label-uo">Footer:</label>
              <div class="pull-right">
                <div class="pull-left choose-file"><span>Upload <i class="fa fa-arrow-up"></i></span>
                <input type="file" class="file"></div>
              </div>
              <div class="ads-block">
                  <p>Cost:</p>
                  <p>Size:</p>
                  <p>Location:</p>
              </div>
            </div>

          </form>
        </div>


    </div>
    <p class="stick-next-left font-normal bottom-5"><a href="javascript:void(0)" ng-click="$ctrl.testCenter()">Back</a></p>
    <p class="stick-next-right bottom-5"><a href="javascript:void(0)" ng-click="$ctrl.updateAds()">Next</a></p>
  </div>
</div>
