<div class="container progress-content">

  <div class="clearfix"></div>
  <div class="progress-content-one payment-success">
      <div class="col-md-12 text-center">
            <img src="themes/addiction/images/png/illustrations-Congratulations-payment.png">
            <div class="p-user-profile">CONGRATULATIONS</div>
            <div class="col-md-12">
                <div class="payment-text">
                  <p>Congratulations!! You are now a gold member and you can view your Test center details of membership, sponsership,sponsership Ads etc on your dashboard below. You can also modify add, delete, upgrade and downgrade membership at any point in time!</p>

              </div>
            </div>
      </div>
      <div class="payment-btm">
        <p class="stick-next-left font-normal"><a href="javascript:window.history.back();" ng-click="$ctrl.close()">Close</a></p>
        <p class="stick-next-right"><a href="javascript:void(0)" ng-click="$ctrl.viewProfile()">View my profile</a></p>
      </div>
  </div>
</div>
