.center-detail-side {
  color: #444;
  float: left;
  width: 100%;
}

.center-detail-side span {
  border-bottom: 1px solid #444444;
  float: left;
  font-family: "oswaldbook";
  font-size: 18px;
  padding-bottom: 5px;
  width: 100%;
}

.center-detail-side p {
  font-family: 'Arial';
  font-size: 16px;
  float: left;
  width: 100%;
}

.center-detail-side i {
  color: #115a8f;
  font-size: 18px;
  font-family: "Glyphicons Halflings" !important;
  margin-right: 10px;
}

.contact_info_wrap_div img {
  margin-bottom : 10px;
}

.review-rating {
  margin: 5px 0 0 0;
  width: 100%;
}

.review-rating img {
  width: 20px;
}

.review_star {
  margin: 7px 0 0 0;
}

.review-list-box {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
}

.review-list-box h2 {
  width: 100%;
  color: #73AC4B;
  font-size: 16px;
}

.review-list-box p {
  width: 100%;
  margin: 5px 0 0 0;
}

.review-list-box p a {
  margin-bottom: 7px;
  font-family: 'oswaldbook';
}

.review-list-box p a span {
  margin: 0 7px 0 0;
}

.review-form-box .submit-review {
  margin-bottom: 15px;
}

.review-form-box .review-form {
  max-height: 300px;
}

.review-form-box .review-form.ng-hide {
  max-height: 0px;
}

.review-form-box .review-form.ng-hide-add,
.review-form-box .review-form.ng-hide-remove {
  overflow: hidden;
  transition: max-height linear 0.3s;
}
