<svg version="1.1" id="map" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 540 360" xml:space="preserve">
  <!-- shadows -->
  <g id="shadows">
    <path ng-repeat="shadow in $ctrl.config.shadows" ng-attr-fill="{{ $ctrl.config.shadowfill }}" ng-attr-d="{{shadow}}" style="fill-opacity: 0.5;"></path>
  </g>

  <!-- regions -->
  <g id="states">
    <!-- capitalShadow -->
    <g id="capitalShadow">
      <path ng-attr-d="{{$ctrl.config.capitalShadow}}"></path>
    </g>

    <g ng-repeat="state in $ctrl.config.states">
      <path ng-attr-id="{{state.id}}" ng-attr-fill="{{$ctrl.config.upcolor}}" ng-attr-stroke="{{$ctrl.config.statestroke}}" ng-attr-d="{{state.d}}" stroke-width="1" cursor="pointer"></path>
      <a style="display:none;" href="/state/{{state.image}}-rehab-centers"> {{state.fullname}} rehab centers</a>
    </g>
  </g>

  <!-- Lakes -->
  <g id="lakes">
    <path ng-repeat="lake in $ctrl.config.lakes" ng-attr-stroke="{{$ctrl.config.lakestroke}}" stroke-width="1" ng-attr-d="{{lake}}" ng-attr-fill="{{$ctrl.config.lakefill}}">
    </path>
  </g>

  <!-- short names-->
  <g id="abbs">
    <text ng-repeat="state in $ctrl.config.states" ng-attr-id="{{state.shortname}}" ng-attr-transform="{{state.transform}}" pointer-events="none">
      <tspan x="0" y="0" font-family="Arial" font-size="11" ng-attr-fill="{{$ctrl.config.namefill}}">{{ state.shortname }}
      </tspan>
    </text>
  </g>
</svg>
