<div class="container progress-content">

  <div class="clearfix"></div>
  <div class="progress-content-one mt-30 treatmentcenter-createcenter">
    <div class="col-md-6 col-sm-12">
      <div class="progress-img-wrap">
        <div class="p-tc-title">Technical help needed?</div>
        <div style="background-image: url('themes/addiction/images/png/illustrations-Woman-Explains.png');" class="progress-img">
        </div>

        <div class="p-tc-desc">
          <span>Call us now for any help <i class="fa fa-smile-o"></i></span>
          <span>Happy to help you</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 padding_left_new">
      <p>
        <h5 style="font-size:18px;">Fill out quick form and our representative will reach out to you. </h5>
      </p>
      <div class="full-height">
        <div class="psignup-form user-create" style="height:338px;margin-top:0px;">
          <div class="row contact_us_otr">
            <div class="">
              <h2 class="contct_heding">Inquiry for Treatment Type</h2>
              <p>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.customer();">Customer</button>
              </p>
            </div>
            <div class="float-left">
              <h2 class="contct_heding">Inquiry for Treatment Center</h2>
              <p class="float-left">
                <button type="button" ng-click="$ctrl.treatment();" class="btn btn-primary">Treatment Center</button>
              </p>
            </div>
            <!-- <side-panel></side-panel> -->
          </div>
          <!--<form class="psignup-form n-form" name="$ctrl.contactUsForm" style="margin-top:0px;">
            <div class="form-group">
              <span class="abslt-plc" >Below is our Technical Associates to help for any immediate needs.</span>
            </div>
            <div class="form-group" style="margin-top:50px;">
            </div>
            <div class="form-group" >
              <div class="col-md-6">
                <span class="abslt-plc" >Name</span>
                <br>
                <span style="color:#037c7e;">Naveen Chugh</span>

              </div>
              <div class="col-md-6">
                <span class="abslt-plc" >Phone</span>
                <br>
                <span ><a href="tel:+1 (586)342-4795" style="color:#037c7e !important;">+1 (586)342-4795</a></span>

              </div>
            </div>

          </form>-->
        </div>
      </div>
    </div>
  </div>
  <!-- <p class="stick-next-tc"><a href="javascript:void(0)" ng-click="$ctrl.optional_fields()" ng-disabled="">Next</a></p> -->

  <!-- <p class="stick-next-tc pull-right"><a href="javascript:void(0);" ng-click="$ctrl.addCenter()" ng-disabled="$ctrl.contactUsForm.centerName.$invalid || ($ctrl.categoryModel.length===0) || $ctrl.contactUsForm.website.$invalid || $ctrl.contactUsForm.email.$invalid || $ctrl.contactUsForm.phone.$invalid || $ctrl.contactUsForm.address.$invalid">Next</a></p> -->
</div>