<!-- <section-heading>Select State</section-heading> -->
<!--- Map content  Start   -->
<div class="col-sm-12 steps_sponsored" style="margin-left:30px;">Step1: Click on the map to select state, county and city or <b>{{$ctrl.checkAllText}}</b>
  <input type="checkbox" name="" ng-model="$root.checkedAllStates" ng-change="$ctrl.selectStateAll()" ng-init="$ctrl.checkAllText=' Select all states'" />
</div>
<div onselectstart="return false;" class="unselectable col-sm-12">
  <div id="mapwrapper" class="col-sm-12">
    <div id="map_base">
      <!-- <state-map ng-click="$ctrl.onStateSelect(state)" on-select="$ctrl.onStateSelect(state)"></state-map> -->
      <state-map on-select="$ctrl.onStateSelect(state)"></state-map>
    </div>
  </div>
  <!-- <div class="col-sm-12 steps_sponsored">Select State: </div>
  <div class="additional_filters">
    <div class="col-sm-12">
      <input type="checkbox" name="" ng-model="$root.checkedAllStates" ng-change="$ctrl.selectStateAll()" ng-init="$ctrl.checkAllText=' Select all states'" /> {{$ctrl.checkAllText}}
    </div>
  </div> -->
  <div class="col-sm-12 steps_sponsored step2">Step2: Select various categories for your treatment center</div>
  <div class="additional_filters">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <div ng-dropdown-multiselect="" id="demographic" ng-click="$ctrl.checkFirst()" options="$root.demographic" translation-texts="$ctrl.buttonTxtDemographic" selected-model="$root.demographicModel" extra-settings="$ctrl.demographic" events="{onItemSelect: $ctrl.updateCart, onItemDeselect: $ctrl.updateCart}" checkboxes="true"></div>
      </div>
      <div class="col-sm-3">
        <div ng-dropdown-multiselect="" id="treatmentApproach" ng-click="$ctrl.checkFirst()" options="$root.treatmentApproach" translation-texts="$ctrl.buttonTxtTreatmentApproach" selected-model="$root.treatmentApproachModel" extra-settings="$ctrl.treatment" events="{onItemSelect: $ctrl.updateCart, onItemDeselect: $ctrl.updateCart}" checkboxes="true"></div>
      </div>
      <div class="col-sm-3">
        <div ng-dropdown-multiselect="" id="payment" ng-click="$ctrl.checkFirst()" options="$root.payment" selected-model="$root.paymentModel" translation-texts="$ctrl.buttonTxtPayment" extra-settings="$ctrl.payment" events="{onItemSelect: $ctrl.updateCart, onItemDeselect: $ctrl.updateCart}" checkboxes="true"></div>
      </div>
      <div style="margin-bottom:40%;"></div>
    </div>
    <div class="col-md-12 pull-right">
      <div class="col-sm-3">
        <div ng-dropdown-multiselect="" id="additionalServices" ng-click="$ctrl.checkFirst()" options="$root.additionalServices" translation-texts="$ctrl.buttonTxtAdditionalServices" selected-model="$root.additionalServicesModel" extra-settings="$ctrl.additional_services" events="{onItemSelect: $ctrl.updateCart, onItemDeselect: $ctrl.updateCart}" checkboxes="true"></div>
      </div>
      <div class="col-sm-3">
        <div ng-dropdown-multiselect="" id="setting" ng-click="$ctrl.checkFirst()" options="$root.setting" translation-texts="$ctrl.buttonTxtSetting" selected-model="$root.settingModel" extra-settings="$ctrl.settings" events="{onItemSelect: $ctrl.updateCart, onItemDeselect: $ctrl.updateCart}" checkboxes="true"></div>
      </div>
      <div class="col-sm-4">
        <div ng-dropdown-multiselect="" id="byDrug" ng-click="$ctrl.checkFirst()" options="$root.byDrug" selected-model="$root.byDrugModel" translation-texts="$ctrl.buttonTxtByDrug" extra-settings="$ctrl.byDrug" events="{onItemSelect: $ctrl.updateCart, onItemDeselect: $ctrl.updateCart}" checkboxes="true"></div>
      </div>
    </div>
  </div>
</div>
