<link rel="stylesheet" href="themes/addiction/css/combine.css" type="text/css">
<link rel="stylesheet" href="themes/addiction/css/style.css" type="text/css">

<section class="profile-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="profile-header-bg">
          <a ui-sref="myProfile.profile" class="{{$ctrl.activeMenu['my-profile']}}" ng-click="$ctrl.setCurrentMenu('my-profile');">
            <h1>My Profile</h1>
          </a>
        </div>
      </div>
    </div>

    <div class="custom-row">
      <div class="profile-buttons">
        <div class="btn-col1" ng-if="$root.profileData.type_of_user==='free'" ng-repeat="link in $ctrl.linksFree">
          <a ui-sref="{{ link.uiSref }}" class="btn btn-md btn-primary" ng-click="$ctrl.setCurrentMenu(link.slug);">{{ link.name }} </a>
        </div>
        <div class="btn-col1" ng-if="$root.profileData.type_of_user!=='free'" ng-repeat="link in $ctrl.linksPaid">
          <a ui-sref="{{ link.uiSref }}" class="btn btn-md btn-primary" ng-click="$ctrl.setCurrentMenu(link.slug);">{{ link.name }} </a>
        </div>
      </div>
    </div>
  </div>
</section>
