<div class="adn-table">
  <div id="no-more-tables">
    <table class="col-md-12 col-xs-12 col-sm-12  table-striped table-condensed cf padding_0">
      <thead class="cf">
        <tr>
          <th>Image</th>
          <th>
            <a class="head-name" href="?order=DESC" title="Order By name in desending order">Name</a>
          </th>
          <th>Category</th>
          <th class="head-action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="center in $ctrl.centers">
          <!-- Image -->
          <td data-title="Image">
            <a ui-sref="{{ center.viewLink }}">
              <img ng-src="{{ center.listing_image }}" alt="{{ center.center_name }}" class="center-logo-in-tb" />
            </a>
          </td>

          <!-- Name -->
          <td data-title="Name">
            <a ui-sref="{{ center.viewLink }}" style="color:black;">{{ center.center_name }}</a>
          </td>

          <!-- Category -->
          <td data-title="Category">{{ center.categories_name }}</td>

          <!-- Action view, edit, delete, activate/deactivate -->
          <td data-title="Action">
            <a ui-sref="{{ center.viewLink }}" data-toggle="tooltip" data-placement="bottom" title="View">
              <i class="glyphicon glyphicon-eye-open"></i>
            </a>
            <a ui-sref="{{ center.editLink }}" data-toggle="tooltip" data-placement="bottom" title="Edit">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a href ng-click="$ctrl.onDelete({id: center.id })" data-toggle="tooltip" data-placement="bottom" title="Delete">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
            <a href ng-click="$ctrl.onActivate({id: center.id})" data-toggle="tooltip" data-placement="bottom" title="Deactivate It">
              <i class="">{{ center.active ? "Deactivate": "Activate"}}</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
