<div class="add-sponsor-ad">
  <section-heading>Add Sponsor Ad</section-heading>
  <div class="profile-content">
    <div class="profile-row">
      <a href="javascript:history.go(-1);">
        <span class="btn adn-btn right">
          <i class="glyphicon glyphicon-hand-left"></i> Back
        </span>
      </a>
    </div>
    <div class="profile-row">
      <form name="sponsorAdsForm" enctype="multipart/form-data" ng-submit="$ctrl.submit()">
        <input name="customertype" value="owner" type="hidden">
        <!-- Title -->
        <div class="adn-row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label for="title">Title: </label>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-12">
            <input placeholder="Title" name="title" id="title" class="form-control required" type="text" required ng-model="$ctrl.title">
            <span ng-show="sponsorAdsForm.title.$error.required" class="help-block">Title can't be blank.</span>
          </div>
        </div>
        <!-- Name -->
        <div class="adn-row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label for="name">Name: </label>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-12">
            <input placeholder="Name" name="name" id="name" class="form-control required" type="text" required ng-model="$ctrl.name">
            <span ng-show="sponsorAdsForm.name.$error.required" class="help-block">Name can't be blank.</span>
          </div>
        </div>
        <!-- Upload Image -->
        <div class="adn-row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label for="upload_img">Upload Image</label>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-12">
            <!--  <input name="image" id="image" class="span2 text_file center_image" ng-model="$ctrl.image" type="file"> -->
            <input file-model="$ctrl.image" type="file" name="image" id="image" class="center_image" accept="image/*" />
            <span ng-show="$ctrl.err_type">Please upload an image only. </span>
          </div>
        </div>
        <!-- Description -->
        <div class="adn-row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label for="cpwd">Description</label>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-12">
            <textarea name="briefoverview" ng-model="$ctrl.description" class="form-control required" rows="2" cols="50" required placeholder="Brief Overview"></textarea>
            <span ng-show="sponsorAdsForm.briefoverview.$error.required" class="help-block">Description can't be blank.</span>
          </div>
        </div>
        <!-- Website -->
        <div class="adn-row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label for="cpwd">Website</label>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-12">
            <input placeholder="website" name="website" class="form-control required" type="text" ng-model="$ctrl.website" required ng-pattern="/^(?:(ftp|http|https):\/\/)?(?:[\w-]+\.)+([a-z]{2,10})?(?:[\.])+[a-z]{2,10}$/">
            <span ng-show="sponsorAdsForm.website.$error.pattern" class="help-block">Invalid Format(Correct format: www.google.com)</span>
            <span ng-show="sponsorAdsForm.website.$error.required" class="help-block">Website url can't be blank.</span>
          </div>
        </div>
        <!-- Sponsor Ads -->
        <div class="adn-row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label for="cpwd">Sponsor Ads </label>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div ng-dropdown-multiselect="" options="$ctrl.sponsored_ad_select" checkboxes="true" selected-model="$ctrl.multiselectModelLayoutIds " extra-settings="$ctrl.multiselectModelSettings"></div>
          </div>
        </div>
        <!-- Payment Amount -->
        <div class="adn-row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label for="text">Payment Amount</label>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-12">
            <input placeholder="Payment Amount" id="payment_amount" name="payment_amount" class="form-control required" type="number" disabled="">
          </div>
        </div>
        <!-- Submit -->
        <div class="adn-row">
          <div class="col-lg-8 col-lg-offset-4 col-md-8 col-md-offset-4 col-md-offset-4 col-sm-12 col-xs-12">
            <button type="submit" class="btn adn-btn right" ng-disabled="sponsorAdsForm.website.$invalid || sponsorAdsForm.title.$invalid || sponsorAdsForm.name.$invalid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
