<div class="container progress-content">
  <div class="progressbar">
    <div class="col-md-6 col-md-offset-6">
      <span class="member-cart">
        <img src="themes/addiction/images/png/Cart-Icon.png" />
      </span>
      <div class="progress progress-grediant">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
          <span class="stick-me">70%</span>
          <p class="">
            <img src="themes/addiction/images/png/Cart-Icon.png" />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="progress-content-one">

    <div class="col-md-6">
      <div class="progress-img-wrap">
        <div style="background-image: url('themes/addiction/images/png/illustrations-Upgrade-membership.png');" class="progress-img">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="para-optional">
        <p>Now would you like to sponsor a few of our pages and get fratured in them? This makes it easier for you to advertise your treatment center specifically with the target market that you are looking at.</p>
        <p>
          <strong>You have now upgraded your membership.</strong>
        </p>
        <p class="lead"><a href="javascript:void(0)" ng-click="$ctrl.add_sponsor()">Add Sponsor Pages</a></p>
        <p>You can also choose to publish ads for your testcenter on our website to gain more visibility accross all audience.</p>
        <p class="lead"><a href="javascript:void(0)" ng-click="$ctrl.publish_ads()">Publish my Ads</a></p>
      </div>


    </div>
    <p class="stick-next-left font-normal"><a href="javascript:window.history.back();" ng-click="$ctrl.testCenter()">Back</a></p>
    <p class="stick-next-right"><a href="javascript:void(0)" ng-click="$ctrl.publish_ads()">Next</a></p>
  </div>
</div>
