* {
    margin: 0;
    padding: 0
}

html {
    min-height: 100%;
    position: relative
}

body {
    color: black;
    position: static;
    font-family: 'Open Sans', sans-serif
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

a:active,
a:hover {
    outline: 0
}

img {
    border: 0;
    outline: none
}

.header-wrapper {
    /* position: relative; */
    top: 0;
    width: 100%;
    z-index: 1050;
    /*position: fixed;*/
    background: #fff;
}

.header-wrapper .top-header {
      position: relative;
      height: 100%;
      background: #f6f6f6;
      transition: all .3s ease;
      background: #f6f6f6;
      border-bottom: 3px solid #EAE5E5;
}
@media (min-width: 993px ) {
  .header-wrapper  {
    position: fixed;
  }
}

.header-wrapper .top-header .container {
    position: relative
}

.header-wrapper .top-header .container .left-topbanner {
  float: left;
  width: 46%;
  margin: 0;
  padding: 0;
  transition: all .3s ease;
}

.header-wrapper .top-header .container .right-topbanner {
    float: left;
    width: 53.9%;
    margin: 0;
    padding: 0;
    transition: all .3s ease;
    height: 100%;
}

.header-wrapper .top-header .container .right-topbanner img {
    width: 544px;
    height: 95px;
    display: block;
    float: right;
    transition: all .3s ease;
}

.header-wrapper .header-menu {
    background: url(https://www.addictionnetwork.com/themes/addiction/images/header-bg_pattern.png) repeat;
    top: 0;
    width: 100%;
    height: 100%
}

.header-wrapper .header-menu .main-nav {
    position: relative;
    background: transparent;
    border: transparent
}

.header-wrapper .header-menu .main-nav .navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 2px !important
}

.header-wrapper .header-menu .main-nav .navbar-default .search-pnl {
    position: absolute;
    top: 28px;
    right: 6px;
    height: 33px;
    border: 1px solid #8cc541;
    max-width: 0;
    padding: 5px 35px 5px 10px;
    opacity: 0;
    background: #fffff;
    color: #212121 !important;
    margin-right: 28%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif
}

.header-wrapper .header-menu .main-nav .navbar-default .search-pnl.expanded {
    max-width: 100%;
    width: 43%;
    opacity: 1;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -o-border-radius: 32px
}

.header-wrapper .header-menu .main-nav .navbar-default .search-pnl::placeholder {
    color: #8cc541 !important;
    position: relative;
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    top: -1px
}

.header-wrapper .header-menu .main-nav .navbar-default .close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    padding: 0;
    right: 19.5%;
    top: 51%
}

.header-wrapper .header-menu .main-nav .navbar-default .close-icon:after {
    content: "\f00d";
    font-family: FontAwesome;
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    background-color: #2172a7;
    z-index: 1;
    right: 99px;
    top: 11px;
    bottom: 0;
    margin: auto;
    padding: 1px 2px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 11px;
    cursor: pointer
}

.header-wrapper .header-menu .main-nav .navbar-default .search-box:not(:valid)~.close-icon {
    display: none
}

.navbar {
    position: relative;
    margin: 0
}

.navbar-default .navbar-brand {
    float: left;
    height: auto;
    padding: 7px 10px 0 10px;
    font-size: 18px
}

.navbar-default .navbar-brand .logo {
    width: 180px;
    height: 100%;
    margin: 0 30px 0 0;
    padding: 0;

}

.navbar-default .navbar-brand .logo img {
    width: 100%;
    height: auto;
    display: block;
      transition: all 0.3s ease;
}

.navbar-nav {
    float: left;
    margin: 20px 0 0 0 !important
}

.nav>li>a {
    text-transform: uppercase;
    color: #333333 !important;
    font-size: 15px;
    padding: 15px 8px !important;
    font-weight: 400;
    background-color: transparent !important
}

.nav li a.search-btn {
    position: relative;
    z-index: 9
}

.nav li a.search-btn:after {
    color: #74ca04;
    position: relative;
    content: "\f002";
    font: normal normal normal 18px/1 FontAwesome;
    top: -1px;
    left: 4px
}

.navbar-right {
    float: right;
    margin: 15px 0 0 0;
    padding: 15px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text {
    color: #016aa5
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #015b8e !important;
    background-color: transparent
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #5bb83a !important;
    background-color: transparent
}

.signupbtn {
    color: #8cc541;
    font-size: 16px
}

.signupbtn a {
    display: inline-block;
    color: #ffffff
}

.signupbtn a.sbtn,
.signupbtn a .sbtn {
    display: inline-block;
    outline: none;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    vertical-align: middle;
    border: 1px solid;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
    font-size: 0.8125em;
    padding: 0.3125em .750em
}

.signupbtn a.sbtn:hover,
.signupbtn a .sbtn:hover {
    background: #053550;
    color: #ffffff;
    border-color: #053550
}

.signupbtn a.sbtn-blue {
    color: #ffffff !important;
    background: #8cc541;
    border-color: #8cc541
}

.signupbtn a.profile-icon {
    display: inline-block;
    font-size: 18px;
    color: #428bca !important
}

.signupbtn a.profile-icon:hover {
    color: #74ca04
}

.loginbtn {
    color: #8cc541;
    font-size: 16px;
    margin: 0 7px 0 0
}

.loginbtn a {
    display: inline-block;
    color: #015b8e
}

.loginbtn a.sbtn,
.loginbtn a .sbtn {
    display: inline-block;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    outline: none;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    vertical-align: middle;
    border: 1px solid;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
    font-size: 0.8125em;
    padding: 0.3125em .750em
}

.loginbtn a.sbtn-blue {
    color: #015b8e;
    border-color: #015b8e
}

.loginbtn a.sbtn-blue:hover {
    background: #015b8e;
    color: #ffffff;
    border-color: #015b8e
}

.logout {
    color: #8cc541;
    font-size: 16px;
    float: left;
    margin: 0 7px 0 0;
    width: 100%;
    min-width: 106px;
    display: block
}

.logout a {
    display: inline-block;
    color: #015b8e;
    width: 100%
}

.logout a.icon-profile {
    font-size: 23px;
    color: #428bca;
    margin: 1px 16px 0 10px;
    width: 28px;
    float: left
}

.logout a.icon-profile:hover {
    color: #74ca04
}

.logout a.logout-text {
    font-size: 16px;
    width: 64px;
    float: left;
    margin: 1px 0 0 0;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    outline: none;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    vertical-align: middle;
    border: 1px solid;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
    font-size: 0.8125em;
    padding: 0.3125em .550em;
    color: #015b8e;
    border-color: #015b8e
}

.logout a.logout-text:hover {
    background: transparent;
    border: 1px solid #8cc541;
    color: #8cc541
}

.congratation {
    margin: 30px 0 0 0
}

.congratation .congrats-banner img {
    width: 100%;
    auto: auto;
    display: block
}

.congratation p {
    font-size: 14px;
    color: #67b502;
    text-align: center;
    width: 80%;
    margin: 30px auto 0 auto
}

.center-table {
    margin: 30px 0 0 0;
    width: 100%
}

.center-table .outer-table {
    width: 100%!important;
    float: left;
    margin: 0 0!important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500
}

.center-table .outer-table .table-lfthead {
    font-size: 15px;
    color: #67b502;
    float: left;
    text-align: left;
    padding-left: 0!important;
    width: 50%;
    padding-bottom: 5px;
    font-weight: 500
}

.center-table .outer-table .table-rgthead {
    font-size: 15px;
    color: #67b502;
    font-weight: 500;
    text-align: right;
    width: 50%;
    float: right;
    padding-right: 0;
    padding-bottom: 5px
}

.center-table .outer-table .table {
    width: 100%;
    border: 1px solid #58b741;
    height: 100%
}

.center-table .outer-table .table thead {
    background: #58b741;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px
}

.center-table .outer-table .table thead tr th {
    border-top: 0 !important;
    border-top: none !important;
    font-weight: 500
}

.center-table .outer-table .table thead tr th:first-child {
    padding-left: 20px;
    vertical-align: middle
}

.center-table .outer-table .table thead tr th:last-child {
    padding-right: 20px;
    vertical-align: middle
}

.center-table .outer-table .table thead tr th .newbtns a {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    font-size: 14px;
    color: #037c7e;
    font-weight: 500;
    text-align: center
}

.center-table .outer-table .table thead tr th .newbtns a i {
    line-height: 30px
}

.center-table .outer-table .table thead tr th .newbtns a i.edit2 {
    background: #ffffff;
    color: #58b741;
    border-radius: 50%;
    font-size: 15px;
    width: 28px;
    height: 28px;
    padding: 1px 7px 2px 7px;
    margin: 0 auto;
    text-align: center
}

.center-table .outer-table .table thead tr th .newbtns a span {
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
    margin: 0 0 0 5px
}

.center-table .outer-table .table thead tr th .newbtns a:hover {
    text-decoration: none
}

.center-table .outer-table .table tbody {
    padding-bottom: 40px
}

.center-table .outer-table .table tbody tr td {
    border-top: 0 !important;
    border-top: none !important;
    color: #67b502
}

.center-table .outer-table .table tbody tr td a span {
    color: #ffffff !important
}

.center-table .outer-table .table tbody tr td a span.greentxt {
    color: #67b502 !important
}

.center-table .outer-table .table tbody tr td span {
    color: #ffffff
}

.center-table .outer-table .table tbody tr td span.greentxt {
    color: #67b502 !important
}

.center-table .outer-table .table tbody tr td:first-child {
    padding-left: 20px;
    vertical-align: middle
}

.center-table .outer-table .table tbody tr td:last-child {
    padding-right: 20px;
    vertical-align: middle
}

.center-table .outer-table .table tbody tr td .total-txt {
    font-weight: 700
}

.center-table .outer-table .table tbody tr td .value-total {
    font-weight: 600
}

.center-table .outer-table .table tbody tr td .final-value-total {
    font-weight: 700
}

.center-table .outer-table .table-profile {
    width: 100%;
    border: 1px solid #58b741;
    height: 100%
}

.center-table .outer-table .table-profile thead {
    background: #58b741;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px
}

.center-table .outer-table .table-profile thead tr th {
    padding-left: 17px;
    border-top: 0 !important;
    border-top: none !important;
    text-align: center
}

.center-table .outer-table .table-profile thead tr th:first-child {
    padding-left: 20px;
    vertical-align: middle;
    text-align: left
}

.center-table .outer-table .table-profile thead tr th:last-child {
    padding-left: 0px;
    vertical-align: middle
}

.center-table .outer-table .table-profile thead tr th a span {
    font-size: 14px;
    color: #ffffff !important;
    display: inline-block;
    margin: 0 0 0 5px
}

.center-table .outer-table .table-profile thead tr th a:hover {
    color: #ffffff
}

.center-table .outer-table .table-profile thead tr th a span:hover {
    color: #ffffff
}

.center-table .outer-table .table-profile tbody {
    padding-bottom: 40px
}

.center-table .outer-table .table-profile tbody tr td {
    border-top: 0 !important;
    border-top: none !important;
    text-align: center;
    padding-left: 17px;
    vertical-align: middle
}

.center-table .outer-table .table-profile tbody tr td:last-child {
    padding-right: 20px;
    vertical-align: middle
}

.center-table .outer-table .table-profile tbody tr td .total-txt {
    font-weight: 700
}

.center-table .outer-table .table-profile tbody tr td .value-total {
    font-weight: 600
}

.center-table .outer-table .table-profile tbody tr td .final-value-total {
    font-weight: 700
}

.back {
    float: left;
    width: 20%;
    color: #58b741;
    font-size: 16px;
    text-align: left;
    font-weight: 600
}

.back a {
    color: #58b741
}

.back a i.backbtn {
    font-size: 16px
}

.back a:hover {
    text-decoration: none
}

.addnewcenter {
    float: left;
    width: 60%;
    color: #58b741;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    font-weight: 600
}

.addnewcenter a {
    color: #58b741
}

.addnewcenter a i.addnewbtn {
    font-size: 16px
}

.addnewcenter a:hover {
    text-decoration: none
}

.next {
    float: right;
    width: 20%;
    color: #58b741;
    font-size: 16px;
    text-align: right;
    font-weight: 600
}

.next a {
    color: #58b741
}

.next a i.nextbtn {
    font-size: 16px
}

.next a:hover {
    text-decoration: none
}

.profile-header h1 {
  font-size: 17px;
  color: #212121;
  text-align: left;
  padding: 0 0 8px 10px !important;
  text-transform: capitalize;
  line-height: 24px;
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.abslt-plc{
  font-size: 14px;
  font-weight: 600;
}
.map-sponsor-container {
    margin: 30px 0 0 0;
    width: 100%
}

.map-sponsor-container p {
    font-size: 16px;
    color: #67b502;
    font-weight: 600
}

.map-sponsor-container h2 {
    color: #515d8c;
    font-size: 14px;
    font-weight: 600;
    margin: 7px 0 10px 0
}

.map-sponsor-container h2 a {
    color: #515d8c;
    text-decoration: none;
    font-weight: 600
}

.map-sponsor-container h2 a:hover {
    color: #515d8c
}

.map-sponsor-container .city-map-container {
    float: left;
    width: 30%;
    margin: 0 2% 0 0
}

.map-sponsor-container .city-map-container img {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto
}

.map-sponsor-container .city-country {
    float: left;
    width: 68%;
    margin: 0;
    position: relative;
    height: 100%
}

.map-sponsor-container .city-country .city-box {
    float: left;
    width: 49%;
    margin: 0 2% 0 0;
    padding: 0 30px
}

.map-sponsor-container .city-country .city-box input.form-control {
    border: 1px solid #8dc546;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.map-sponsor-container .city-country .city-box input::-webkit-calendar-picker-indicator {
    opacity: 0
}

.map-sponsor-container .city-country .city-box label {
    color: #8dc546;
    font-size: 14px
}

.map-sponsor-container .city-country .country-box {
    float: left;
    width: 49%;
    margin: 0;
    padding: 0 30px
}

.map-sponsor-container .city-country .country-box label {
    color: #8dc546;
    font-size: 14px
}

.map-sponsor-container .city-country .country-box input.form-control {
    border: 1px solid #8dc546;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.map-sponsor-container .city-country .country-box input::-webkit-calendar-picker-indicator {
    opacity: 0
}

.map-sponsor-container .city-country .select-statesbox {
    float: left;
    margin: 0px 0 0 30px !important;
    border: 1px solid #eeeeee;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 92.5%!important;
    height: 100%
}

.map-sponsor-container .city-country .select-statesbox .dropdown-menu {
    position: static !important;
    z-index: 1000;
    display: none;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    width: 100%;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: none;
    border-radius: 0 !important;
    webkit-box-shadow: none !important;
    box-shadow: none !important
}

.scrollable-div {
    height: 182px;
    margin: 0 112px 0 0 !important;
    overflow-y: scroll
}

.scrollable-div::-webkit-scrollbar {
    width: 5px
}

.scrollable-div::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px
}

.scrollable-div::-webkit-scrollbar-thumb {
    background: #67b502;
    border-radius: 1px
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #555
}

.countrylist {
    margin: 0;
    padding: 0
}

.countrylist li {
    float: left;
    font-size: 12px;
    color: #67b502;
    margin: 0 0 5px 10px;
    width: 100%;
    list-style: none;
    position: relative
}

.countrylist li a {
    color: #67b502
}

.countrylist li a:focus,
.countrylist li a:active {
    color: #015b8e;
    text-decoration: none
}

.countrylist li a:focus:before,
.countrylist li a:active:before {
    content: "\f04d";
    position: absolute;
    padding: 0;
    left: -13px;
    top: 2px;
    margin: 0;
    font-family: FontAwesome;
    font-size: 10px
}

.countrylist li a.visited {
    color: #8f8686
}

.countrylist li a.visited:after {
    content: "\f00c";
    padding: 0 0 0 4px;
    top: 4px;
    margin: 0;
    font-family: FontAwesome;
    font-size: 10px
}

.generallist {
    margin: 0;
    padding: 0
}

.generallist li {
    float: left;
    font-size: 12px;
    color: #67b502;
    margin: 0 0 5px 0;
    width: 100%;
    list-style: none;
    line-height: 16px
}

.generallist li a {
    color: #67b502
}

.generallist li a:hover,
.generallist li a:focus,
.generallist li a:active {
    color: #015b8e;
    text-decoration: none
}

.generallist li a.visited {
    color: #8f8686
}

.generallist li a.visited:after {
    content: "\f00c";
    padding: 0 0 0 4px;
    top: 4px;
    margin: 0;
    font-family: FontAwesome;
    font-size: 10px
}

.profile-links {
    margin: 0 0 0 0;
    overflow: hidden;
    width: 98%;
    padding: 0;
    border-bottom: 1px solid #ddd
}

.profile-links a {
    display: inline-block;
    position: relative;
    font-weight: 400;
    margin: 6px 30px 0 0;
    padding: 0 0 3px 0;
    font-size: 16px;
    color: #037c7e;
    text-decoration: none
}

.profile-links a.profile-tabs {
    color: #015b8e;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    margin: 0 10px 0 0;
    outline: 0;
    padding: 0px 10px 2px 11px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none
}

.profile-links a.profile-tabs:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out
}

.profile-links a.profile-tabs.selected,
.profile-links a.profile-tabs.visited,
.profile-links a.profile-tabs:hover {
    transform-origin: left top;
    transform: scale(1, 1);
    border-bottom: 2px solid #58b741
}

.profile-links a.profile-tabs.selected {
    transform-origin: left top;
    transform: scale(1, 1);
    border-bottom: 2px solid #58b741;
    color: #58b741
}

.profile-buttons {
    margin: 0 0 0 0;
    overflow: hidden;
    width: 100%;
    padding: 0
}

.profile-buttons .btn-col1 {
    float: left;
    width: 33.2%;
    margin: 0 2px 0 0
}

.profile-buttons .btn-col1:last-child {
    margin-right: 0
}

.profile-buttons a {
    height: 100%
}

.profile-buttons a.btn {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 10px 18px;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 0px;
    font-weight: 600;
    text-shadow: none;
    font-size: 15px
}

.profile-buttons a.btn-primary {
    background: #58b741 !important;
    color: #ffffff
}

.profile-buttons a:hover,
.profile-buttons a:focus,
.profile-buttons a:active {
    background: #019003 !important;
    color: #ffffff
}

.action-button {
    float: left;
    width: 20%;
    margin: 0;
    padding: 0 0 0 40px
}

.common-box {
    width: 100%;
    float: left;
    margin: 0 0
}

.pl-30 {
    padding-left: 30px !important
}

.pl-60 {
    padding-left: 60px !important
}

.pl-20 {
    padding-left: 20px !important
}

.pl-10 {
    padding-left: 10px !important
}

.pr-30 {
    padding-right: 30px !important
}

.pr-20 {
    padding-right: 20px !important
}

.pr-10 {
    padding-right: 10px !important
}

.mt-30 {
    margin-top: 30px !important
}

.mt-10 {
    margin-top: 10px !important
}

.pb-30 {
    padding-bottom: 30px !important
}

.pb-40 {
    padding-bottom: 40px !important
}

.mb-30 {
    margin-bottom: 30px !important
}

.mb-20 {
    margin-bottom: 20px !important
}

.mb-40 {
    margin-bottom: 40px !important
}

.custom-row {
    float: left;
    width: 100%
}

.left-align {
    text-align: left !important
}

.right-align {
    text-align: right !important
}

.center-align {
    text-align: center !important
}

.bg-grey {
    background: #eaedf7
}

.bg-blue {
    background: #58b741;
    color: #ffffff !important
}

.bg-blue td {
    color: #ffffff !important
}

.black-colortxt {
    color: #67b502;
    font-weight: 600;
    font-size: 14px
}

.border-bottom {
    border-bottom: 1px solid #eeeeee
}

.newbtns a {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    font-size: 14px;
    color: #037c7e;
    font-weight: 500;
    text-align: center
}

.newbtns a i {
    line-height: 30px
}

.newbtns a i.delicon {
    background-color: #fff;
    border-radius: 8px 4px 8px 15px;
    color: #58b741;
    font-size: 15px;
    line-height: 20px;
    width: 37px;
    margin: 0 auto;
    text-align: center
}

.newbtns a i.edit {
    background: #58b741;
    border-radius: 50%;
    color: #ffffff;
    font-size: 15px;
    width: 28px;
    height: 28px;
    padding: 1px 7px 2px 7px;
    margin: 0 auto;
    text-align: center
}

.newbtns a i.edit2 {
    background: #ffffff;
    color: #58b741;
    border-radius: 50%;
    font-size: 15px;
    width: 28px;
    height: 28px;
    padding: 1px 7px 2px 7px;
    margin: 0 auto;
    text-align: center
}

.newbtns a i.upgrade {
    background: #58b741;
    border-radius: 50%;
    color: #ffffff;
    font-size: 15px;
    width: 28px;
    height: 28px;
    padding: 0px 7px 2px 5px;
    margin: 0 auto;
    text-align: right
}

.newbtns a i.upgrade2 {
    background: #ffffff;
    color: #58b741;
    border-radius: 50%;
    font-size: 15px;
    width: 28px;
    height: 28px;
    padding: 0px 7px 2px 5px;
    margin: 0 auto;
    text-align: right
}

.newbtns a span {
    font-size: 14px;
    color: #037c7e;
    display: inline-block;
    margin: 0 0 0 5px
}

.newbtns a:hover {
    text-decoration: none
}

.option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    color: #8e010e !important
}


@media (min-width: 768px) and (max-width: 1024px) {
    .profile-buttons .btn-col1 {
        float: left;
        width: 33.319%;
        margin: 0
    }
    .action-button {
        float: left;
        width: 20%;
        margin: 0;
        padding: 0 0 0 23px
    }
    .profile-header {
        width: 100%;
        float: left
    }
    .center-table .outer-table {
        width: 100%;
        float: left;
        margin: 30px 0
    }
    .map-sponsor-container p {
        font-size: 14px;
        color: #67b502;
        font-weight: 600;
        margin: 0 0 10px 5px;
        text-align: left
    }
    .leftlist {
        width: 23%;
        margin: 0 10px 0 0;
        float: left
    }
    .rightlist {
        width: 23%;
        padding-left: 30px !important;
        float: left
    }
    .usmap-ct {
        float: left;
        width: 52%
    }
    .city-details {
        width: 100%;
        height: 100%;
        display: block
    }
    .map-sponsor-container .city-map-container {
        float: left;
        width: 100%;
        margin: 0
    }
    .map-sponsor-container .city-country {
        float: left;
        width: 100%;
        margin: 0;
        position: relative;
        height: 100%
    }
    .map-sponsor-container .city-country .city-box {
        float: left;
        width: 100%;
        margin: 0 2% 0;
        padding: 0
    }
    .map-sponsor-container .city-country .country-box {
        float: left;
        width: 100%;
        margin: 0 0 0 2%;
        padding: 0
    }
    .map-sponsor-container .city-country .select-statesbox {
        float: left;
        margin: 20px 0 0 2%
    }
    .map-sponsor-container h2 {
        margin: 7px 0 10px 5px
    }
    .generallist {
        margin: 0 0 0 5px;
        padding: 0
    }
    .scrollable-div {
        height: 100%;
        margin: 0 0 0 5px !important;
        overflow-y: visible
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .profile-buttons .btn-col1 {
        float: left;
        width: 32.8%;
        margin: 0 2px 0 0
    }
    .profile-buttons a.btn {
        font-size: 10px
    }
    .center-table .outer-table {
        margin: 0;
        width: 100%;
        float: left
    }
    .action-button {
        float: left;
        width: 20%;
        margin: 0;
        padding: 0 0 0 5px;
        margin: 0 auto;
        text-align: center
    }
    .newbtns {
        text-align: center;
        display: block;
        vertical-align: top
    }
    .newbtns a i.edit,
    a i.upgrade,
    a i.upgrade {
        background: #58b741;
        border-radius: 50%;
        color: #ffffff;
        font-size: 14px;
        width: 28px;
        height: 28px;
        padding: 1px 7px 2px 7px;
        margin: 0 auto;
        text-align: center
    }
    .center-table .outer-table .table-profile thead {
        font-size: 11px
    }
    a span {
        font-size: 16px !important;
        display: block !important;
        margin: 0 0 0 5px;
        text-align: center
    }
    .profile-buttons a.btn {
        width: 100%;
        margin: 5px 0 0 0;
        padding: 10px 3px
    }
    .center-table .outer-table .table-profile thead tr th {
        text-align: center;
        color: #ffffff
    }
    .center-table .outer-table .table-profile thead tr th:first-child {
        padding-left: 6px;
        vertical-align: middle
    }
    .center-table .outer-table .table-profile thead tr th:nth-child(2) {
        width: 10%
    }
    .center-table .outer-table .table-profile tbody tr td {
        padding-left: 12px;
        vertical-align: middle;
        text-align: center
    }
    .map-sponsor-container p {
        font-size: 14px;
        color: #67b502;
        font-weight: 600;
        margin: 0 0 10px 5px;
        text-align: left
    }
    .leftlist {
        width: 48%;
        display: inline-block;
        margin: 0 10px 0 0
    }
    .rightlist {
        width: 47%;
        display: inline-block;
        padding-left: 0 !important
    }
    .usmap-ct {
        float: left;
        width: 100%
    }
    .city-details {
        width: 100%;
        height: 100%;
        display: block
    }
    .map-sponsor-container .city-map-container {
        float: left;
        width: 100%;
        margin: 0
    }
    .map-sponsor-container .city-country {
        float: left;
        width: 100%;
        margin: 0;
        position: relative;
        height: 100%
    }
    .map-sponsor-container .city-country .city-box {
        float: left;
        width: 100%;
        margin: 0 2% 0;
        padding: 0
    }
    .map-sponsor-container .city-country .country-box {
        float: left;
        width: 100%;
        margin: 0 0 0 2%;
        padding: 0
    }
    .map-sponsor-container .city-country .select-statesbox {
        float: left;
        margin: 20px 0 0 2%
    }
    .map-sponsor-container h2 {
        margin: 7px 0 10px 5px
    }
    .generallist {
        margin: 0 0 0 5px;
        padding: 0
    }
    .scrollable-div {
        height: 100%;
        margin: 0 0 0 5px !important;
        overflow-y: visible
    }
    .left-topbanner .caller-box .callertxt p {
        font-size: 11px !important;
        text-align: center !important;
    }
    .caller-no{
        font-size: 22px !important;
          padding: 0px 0 0 20px !important;
    }
    .caller-no.invocaNumber {
        padding-bottom: 10px !important;
        margin-top: 6px;
    }
    .caller-no::before {
        top: 28px !important;
        left: -7px !important;
    }
    .ng-isolate-scope img {
        width: 100%;
      }
    .second_footer p.ng-binding{
        font-size: 11px;
    }
    .side-card ul > li > a > span {
        float: left;
    }
    .about_div > ul > li > a > span {
        float: left;
    }
    ul.info_us > li > a > span {
        float: none;
    }
    ul.info_us > li {
        text-align: center;
    }
    p.pull-left.live-speak{
        font-size: 12px !important;
        width: 54% !important;
        text-align: left;
        padding-left: 0px;
        top: 1px !important;
    }
    ul.top-social {
        width: 40%;
    }
    ul.top-social li {
        margin: 0 2px 0 0;
    }
}

.navbar-default .navbar-nav>li>a {
    margin: 0px;
    display: block
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none
}

.div-404 {
    display: block;
    margin: 8% auto 0 auto;
    text-align: center
}

.div-404 .grn {
    color: #73ac4b;
    font-weight: 700
}

.div-404 h1 {
    color: #313131;
    font-weight: 700;
    text-align: center;
    margin: 20px auto
}

.div-404 h1 .four1 {
    color: #313131;
    display: inline-block;
    margin-right: -13px;
    font-size: 2.6em
}

.div-404 h1 .four2 {
    color: #313131;
    display: inline-block;
    margin-left: -13px;
    font-size: 2.6em
}

.div-404 h1 i {
    font-style: normal;
    color: #73ac4b;
    font-size: 2.6em
}

.div-404 p {
    font-size: 20px;
    color: #313131;
    text-align: center
}

.div-404 h3 {
    font-size: 20px;
    color: #313131;
    text-align: center
}

.div-404 h3 a {
    color: #016aa5;
    text-decoration: none
}

.div-404 h3 a:hover {
    text-decoration: underline
}

.showmore {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #83BF00;
    color: #83BF00;
    font-size: 12px;
    padding: 5px 10px;
    font-style: normal;
    font-weight: 500
}

.showmore:after {
    content: "\f103";
    position: relative;
    left: 3px;
    top: 2px;
    color: #83BF00;
    font-family: fontawesome;
    font-size: 17px
}

/* .showless:after {
    content: "\f102";
    position: relative;
    left: 3px;
    top: 2px;
    color: #83BF00;
    font-family: fontawesome;
    font-size: 17px;
} */

.showless:after {
    content: "\f102";
    position: relative;
    left: 3px;
    top: 2px;
    color: #83BF00;
    font-family: fontawesome;
    font-size: 17px;
}
/* .showless {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #83BF00;
    color: #83BF00;
    font-size: 12px;
    padding: 5px 10px;
    font-style: normal;
    font-weight: 500
} */
.showless {
  border-radius: 10px;
      -webkit-border-radius: 10px;
      -o-border-radius: 10px;
      -moz-border-radius: 10px;
      border: 1px solid #83BF00;
      color: #83BF00;
      font-size: 12px;
      padding: 5px 10px;
      font-style: normal;
      font-weight: 500;
}
/*
.showless:before {
    content: "\f102";
    position: relative;
    left: 3px;
    top: 2px;
    color: #83BF00;
    font-family: fontawesome;
    font-size: 17px
} */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important
}
.multiselect-parent.btn-group.dropdown-multiselect.open ul.dropdown-menu.dropdown-menu-form.ng-scope{
  margin-top: 0px!important;
}

.showmore{
  cursor:pointer;
}

.showless{
  cursor:pointer;
}
.top-strip-social {
    display: inline-block;
    width: 100%;
    background: #73ac4b;
}
.left-topbanner .img_outer_in_head.pull-left{
    display: inline-block;
    width: 94px;
}
.left-topbanner .left-topbanner-info{
  display: inline-block;
  width: calc( 100% - 94px );
  padding-left: 12px;
}


/* .header-wrapper.scrolled .top-header .container .right-topbanner img, .header-wrapper.scrolled .navbar-default .navbar-brand .logo img{
  width: 90%;
} */
.header-wrapper.scrolled .navbar-default .navbar-brand .logo img{
  width: 80%;
}

.scrolled .header-menu .navbar-right {
    /* font-size: 15px; */
    margin: 0;
}
.scrolled .header-menu .navbar-nav {
    margin: 10px 0 0 0 !important;
}

.header-wrapper.scrolled .top-header .container .left-topbanner {
    /* width: 45%;
    max-height: 79px;
    overflow: hidden; */
}
.img_outer_in_head.pull-left img,  .header-menu .navbar-nav, .header-menu .navbar-right {
      transition: all 0.3s ease;
}
.header-wrapper.scrolled .img_outer_in_head.pull-left img{
height: 75px;
}

/* 19-march */
.left-topbanner .telecaller {
    float: left;
    width: 30%;
    background: #fefefe;
}
.left-topbanner .telecaller img {
    display: block;
    height: 96px;
}
.left-topbanner .caller-box {
    width: 70%;
    padding-left: 19px;
    float: left;
}
.left-topbanner .caller-box .callertxt {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    padding: 0;
    background-color: #ebebeb;
    color: #333333;
   /* height: 60px; */
    width: 100%;
}
.left-topbanner .caller-box .callertxt p {
 	font-size: 14px;
    color: #231f20;
    text-align: left;
    padding: 0 0 2px 0;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0 !important;
    margin-left: -10px;
    z-index: 9999;
    position: relative;
    margin-bottom: 0;
}
.caller-no {
    display: block;
    color: #019242;
    text-align: left;
    font-size: 22px;
    padding: 0 0 0 24px;
    font-weight: 600;
    font-style: italic;
}
.left-topbanner .caller-box .topsocial-box {
   position: relative;
    display: inline-block;
    padding: 1px 0;
    background-color: #549e44;
    height: 23px;
    text-align: center;
    top: -2px;
    left: -70px;
    width: calc( 100% - -70px );
    float: left;
}
ul.top-social {
   margin: -4px auto 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
    display: inline-block;
    margin-top: -4px !important;
}
ul.top-social li {
    float: left;
    margin: 0 8px 0 0;
}
ul.top-social li [class*="fa-"]{
    background: #ffffff;
    color: green;
}
ul.top-social li a.fa {
   padding: 2px 3px;
    font-size: 12px;
    width: 16px;
    height: 16px;
    text-align: center;
    text-decoration: none;
    margin: 7px 2px 0 2px;
    border-radius: 50%;
}
.left-topbanner .caller-box .callertxt:before {
    -o-border-border-right: 119px solid transparent;
    border-bottom: 162px solid #ebebeb;
    border-left: 71px solid transparent;
    bottom: 0;
    content: "";
    position: absolute;
    left: -71px;
}
.caller-no:before {
    position: absolute;
    content: url(../images/phoneicon.png);
    width: 22px;
    height: 22px;
    left: -40px;
    top: 22px;
}
.left-topbanner .caller-box .topsocial-box:before {
    -o-border-border-right: 119px solid transparent;
    border-bottom: 23px solid #549e44;
    border-left: 14px solid transparent;
    /* bottom: 0; */
    content: "";
    position: absolute;
    left: -14px;
    top: 0px;
}
@media (min-width: 1200px){
.container {
    /* width: 1170px; */
}
}
@media (max-width: 991px) {
  .header-wrapper .top-header .container .left-topbanner,.header-wrapper .top-header .container .right-topbanner{
    width: 100%;
    float: none;
  }
  .left-topbanner .telecaller {
    float: left;
    width: 28%;
    background: #fefefe;
}
  .left-topbanner .caller-box {
    width: 72%;
    padding-left: 12px;
    float: left;
}
  .left-topbanner .caller-box .callertxt p {
    font-size: 14px;
  }
  .caller-no {
    font-size: 22px;
    padding: 7px 0 0 54px;
}
.left-topbanner .caller-box .callertxt:before {
    -o-border-border-right: 119px solid transparent;
    border-bottom: 66px solid #ebebeb;
    border-left: 27px solid transparent;
    bottom: 0;
    content: "";
    position: absolute;
    left: -27px;
}
.left-topbanner .caller-box .topsocial-box {
    left: -27px;
  }
span.fix-right.closed.ng-scope{
  border:1px #ffffff;
}
.center-table .outer-table .table-rgthead{
  padding-right: 27px!important;
}
