<div class="search-side-panel">
  <form __bizdiag="927742349" __biza="WJ__">
    <!-- Category Starts -->
    <div class="category-box">
      <div class="search-panel-header">
        <a>Category<span class="caret"></span></a>
      </div>
      <div class="search-panel-body">
        <div class="adn-row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="checkbox-inline">
              <input ng-model="$ctrl.catg1" value="1" type="checkbox">Inpatient
            </label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="checkbox-inline">
              <input ng-model="$ctrl.catg2" value="2" type="checkbox">Outpatient
            </label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="checkbox-inline">
              <input ng-model="$ctrl.catg3" value="3" type="checkbox">Sober Living
            </label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label class="checkbox-inline">
              <input ng-model="$ctrl.catg4" value="4" type="checkbox">Adolescent
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- Category Ends -->
    <!-- Advanced Search Starts -->
    <div class="advanced-search-box">
      <div class="search-panel-header">
        <a>Advanced Search<span class="caret"></span></a>
      </div>
      <div class="search-panel-body">
        <div class="adn-row">
          <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
            <label for="state"> State: </label>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
            <state-select selected="$ctrl.state" on-update="$ctrl.onStateSelect(selected)"></state-select>
            <p ng-show="$ctrl.stateErr">{{$ctrl.stateErr}}</p>
          </div>
        </div>
        <p class="font-bold text-center">OR</p>
        <div class="adn-row">
          <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
            <label for="zip">Zipcode:</label>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
            <input ng-model="$ctrl.zipcode" type="text" class="form-control" placeholder="" maxlength="5" />
            <p ng-show="$ctrl.zipErr">{{$ctrl.zipErr}}</p>
          </div>
        </div>
        <div class="adn-row">
          <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
            <label for="miles">Select Miles:</label>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 padding_0">
            <select ng-model="$ctrl.miles" class="form-control">
              <option selected="" value="">Select Miles</option>
              <option value="10">10 miles</option>
              <option value="20">20 miles</option>
              <option value="50">50 miles</option>
              <option value="100">100 miles</option>
              <option value="250">250 miles</option>
              <option value="">Unlimited</option>
            </select>
          </div>
        </div>
        <div class="adn-row">
          <input type="submit" class="btn adn-btn border_radius_add" ng-click="$ctrl.submit()" value="submit" />
        </div>
      </div>
    </div>
    <!-- Advanced Search Ends -->
  </form>
</div>
