<link rel="stylesheet" href="themes/addiction/css/combine.css" type="text/css">
<link rel="stylesheet" href="themes/addiction/css/style.css?ver=1.1" type="text/css">

<section class="congratation">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="congrats-banner"> <img src="themes/addiction/images/second-header.jpg" alt="options" /> </div>
      </div>
    </div>
  </div>
</section>

<div class="map-sponsor-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="common-box pad-5">
          <sponsor-state-select></sponsor-state-select>
          <cart-detail> </cart-detail>
          <div class="row mb-30 mt-30">
            <div class="col-md-3 col-sm-3"><a href="javascript:;" ng-click="$ctrl.previous()" class="allbtn-bk"> Back</a></div>
            <div class="col-md-6 col-sm-6 text-center">
              <!-- <a href="javascript:;" ng-click="$ctrl.skipTo();" class="allbtn-skip">Skip</a> -->
            </div>
            <div class="col-md-3 col-sm-3 text-right"><a href="javascript:void(0);" ng-click="$ctrl.submit();" ng-disabled="$ctrl.treatmentCentersModel.length===0 || $root.centerSelected.length===0" class="allbtn-nxt">Next</a></div>
          </div>
        </div>
        <!--common box end -->
      </div>
    </div>
  </div>
</div>
